// .eslintignore

.idea
.storybook
.config
.fttemplates
node_modules/*
config/*
public/*
build/*
src/packages/*
scripts/*
webpack/*
src/react-app-env.d.ts
src/reportWebVitals.ts
config-overrides.js
lint-staged.config.js
commitlint.config.js